---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="GreenShill"
    description="The shill for all things of GreenPill Network."
    pubDate={new Date('November 13 2024')}
    heroImage="/chapter-map.png"
    showDate={false}
>
    <p>
        GreenShill is for shilling <a class="hover:text-[#ffda70]" href="https://greenpill.network/">the GreenPill Network.</a>
    </p>

    <p>
        For details check out <a class="hover:text-[#ffda70]" href="https://app.charmverse.io/greenpill-network">GreenPill's Charmverse</a> :
    </p>
    <p>
        GreenPill Network <a class="hover:text-[#ffda70]" href="https://www.youtube.com/@Green_Pill_Podcast">Podcast on youtube</a>
    </p>
</Layout>