---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="text-center pb-4 text-[#ffda70]">GreenShill</h1>
			<p>Stay informed on all things happening in the GreenPill Network.</p>
			<p>Stay informed on all things happening in the GreenPill Network.</p>
			<p>Stay informed on all things happening in the GreenPill Network.</p>
			<p>Stay informed on all things happening in the GreenPill Network.</p>
		</main>
		<Footer />
	</body>
</html>
